/*navbar creation*/

body{
    margin-left:35px;
}
    
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img1{
    display: none;
}
.nav1 p{
    color:rgba(17, 17, 17, 1);
}
.nav1{
    display: flex;
    gap:3px;
    align-items: center;
}

.nav2{
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
    
}

.nav2 .a1{
    color:rgba(254, 163, 1, 1);
    text-decoration: none;
}
.nav2 .a2{
    color:rgba(1, 172, 253, 1);
   
    text-decoration: none;
}
.nav2 .a3{
    color:rgba(35, 79, 27, 1);
    text-decoration: none;
}
.nav2 .a4{
    color:rgba(93, 88, 239, 1);
    text-decoration: none;
}

.navbar button{
    background-color:rgba(254, 163, 1, 1);
    border-radius: 5px;
    color:rgba(255, 255, 255, 1);
    width:95px;
    height:41px;
    border:1px solid rgba(254, 163, 1, 1);
}
/*bannar creation*/
.part1{
    width: 544px;
    padding-right: 120px;
}
.part1 h1{
color:rgba(17, 17, 17, 1);
}
.part1 .span1{
    color: rgba(254, 163, 1, 1);

}
.part1 .span2{
    color:rgba(1, 172, 253, 1);
}

.part1 button{
    color:white;
    width: 95px;
    height:31px;
    background-color:rgba(17, 17, 17, 1);
    border-radius: 5px;
}

.bannar{
    display: flex;
    gap:50px;
    align-items: center;
    justify-content: center;
}

/*standard curriculum*/
.curriculum{
    background-image: url("assets/bg.png");
}
.curriculum h1{
    text-align: center;
}
.standard {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;


}
.div1{
    background-image: linear-gradient(rgba(202, 240, 255, 0.74),white);
    padding: 15px;
    border: 2px solid skyblue;
    border-radius: 15px;
}
.div2{
    background-image: linear-gradient(rgba(255, 244, 220, 1),white);
    padding: 15px;
    border: 2px solid orange;
    border-radius: 15px;
}
.div3{
    background-image: linear-gradient(rgba(242, 232, 255, 1),white);
    padding: 15px;
    border: 2px solid violet;
    border-radius: 15px;
}
.div1,.div2,.div3{
    text-align: center;
}

.div1 a,.div3 a{
    text-decoration: none;
    color: rgba(100, 200, 255, 1);
}
.div2 a{
    text-decoration: none;
    color: rgba(240, 170, 0, 1)};

    
@media(max-width:576px){
    .navbar button{
display: none;
    }
    .nav2{
        display: none;
    }
    .img1{
        display:block;
        width:41px;
        height:31px;
    }
    .bannar{
        display: flex;
       flex-direction: column-reverse;
       flex-wrap: wrap;
    }
    .bannar img{
        width: 267px;
        margin-right: 70%;
       
    }

}